.reviews{
    padding: 15px;
}
.reviews-customer{
    display: flex;
    margin-top: 20px;
}
.customer-name{
padding: 0px 20px;
margin-top: 50px;
}
.reviews-customer img{
    width: 200px;
    border-radius: 10px;
}
.reviews-customer p{
    background: #F1F3F4;
    border-radius: 10px;
    width: 65%;
    padding: 20px;
    padding-top: 30px;
    text-align: justify;
}
.fill{
    color: gold;
}