.reviews{
    padding: 15px;
}
.reviews h1{
    color:#0D6EFD;
    font-size: 65px;
}
.img-card{
    background-image: linear-gradient(rgba(152, 241, 8, 0.671), rgba(19, 179, 165, 0.288));
}
.img{
    padding: 10px;
    border-radius: 25px;
    height: 300px;
}
.fill{
    color: gold;
}
.reviews p{
    text-align: justify;
    padding: 0px 10px;
}

/* Make it responsive */
@media only screen and (max-width:991px) {
    .reviews h1{
        font-size: 30px;
    }    
}