.banner{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color: #191D42;
}
.banner h1{
    color: white;
    text-align: start;
    margin-top: 80px;
    font-size: 55px;
}


/* Make it responsive */
@media only screen and (max-width:991px) {
    .banner{
        flex-direction: column;
    }
    .banner h1{
        margin: 40px auto;
    }    
}