.banner{
    display: flex;
    flex-direction: column;
}
.banner img{
width: 100%;    
}
.banner h1{
    color:tomato;
    font-variant: small-caps;
    text-align: start;
    margin-top: -250px;
    margin-left: 850px;
    margin-bottom: 80px;
    font-size: 55px;
}


/* Make it responsive */
@media only screen and (max-width:991px) {
    .banner{
        flex-direction: column;
    }
    .banner h1{
        margin-top:-70px;
        margin-bottom: 30px;
        margin-left: 280px;
        font-size: 15px;
    }    
}